body{
    font-family: Arial;
    margin:0;
    background:#0f172a;
    color:white;
}

/* HEADER */
header{
    background:#1e293b;
    padding:20px;
    text-align:center;
}

h1{
    margin:0;
    color:#38bdf8;
}

/* TEMAS */
.temas{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
    padding:15px;
}

button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#1e293b;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#38bdf8;
    color:black;
}

/* SUBTEMAS */
#subtemas{
    padding:20px;
    background:#111827;
    margin:10px;
    border-radius:10px;
}

/* DETALLE */
#detalle{
    padding:20px;
    margin:10px;
    background:#1e293b;
    border-radius:10px;
}