body{

    font-family: Arial;
    background-color: #0f172a;
    color: white;

    margin: 0;
    padding: 0;
}

.contenedor{

    width: 90%;
    margin: auto;
    text-align: center;

    padding-top: 30px;
}

h1{

    color: #38bdf8;
}

.menu{

    margin-top: 20px;
}

button{

    padding: 15px;
    margin: 10px;

    border: none;
    border-radius: 10px;

    background-color: #1e293b;

    color: white;

    cursor: pointer;
}

button:hover{

    background-color: #38bdf8;
}

#contenido{

    margin-top: 30px;

    background-color: #1e293b;

    padding: 20px;

    border-radius: 10px;

    text-align: left;
}